numpy>=1.15.4
scipy>=1.0
sphinx
sphinx_rtd_theme
sphinxcontrib_bibtex
nbsphinx
nbstripout
numpydoc
download
matplotlib>2.1
ipywidgets
gdal
scikit-image
pyshp
fiona
shapely
krb5
mkl
git+https://github.com/geoscixyz/Toolkit.git